---
import Layout from '../layouts/Layout.astro';
import api from '../api.js'
import CashPage from '../containers/Cash/CashPage.jsx'

const response = await api.get('/cashes')
const cashes = response.data
---

<Layout title="Cashier App">
	<main>
        <CashPage client:only/>
	</main>
</Layout>

